//Import del resto de estilos más específicos
@import 'parciales/amigos';
@import 'parciales/crearactividades';
@import 'parciales/crearviajes';
@import 'parciales/detallesviajes';
@import 'parciales/editaractividades';
@import 'parciales/editarviajes';
@import 'parciales/home';
@import 'parciales/login';
@import 'parciales/misviajes';
@import 'parciales/passwordreset';
@import 'parciales/perfil';
@import 'parciales/registro';
// FUENTES
//Raleway (Títulos)
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
//Esteban (Subtítulos/textos)
@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');
//Hind (Botones)
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap');

//Estilo común para toda la página
//Iconos
//Botones
input[type=submit],
input[type=button],
button {
    padding: 10px;
    text-transform: uppercase;
    color: #152E3D;
    font-family: "Hind";
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
}

.boton:hover {
    box-shadow: 0px 0px 5px 2px lightgray;
}

//Botón principal
.boton-principal {
    background-color: #0DDEB8;
    border-color: #76D6C4;
}

.boton-principal:hover,
.boton-principal:active {
    background-color: #76D6C4;
    border-color: #76D6C4;
}

//Botón secundario
.boton-secundario {
    background-color: #70C8FF;
    border-color: #A3D4FF;
}

.boton-secundario:hover,
.boton-secundario:active {
    background-color: #A3D4FF;
    border-color: #A3D4FF;
}

//Botón de cancelar
.boton-cancelar {
    background-color: #F2F2F2;
    border-color: #E3E3E3;
}

.boton-cancelar:hover,
.boton-cancelar:active {
    background-color: #E3E3E3;
    border-color: #E3E3E3;
}

//Inputs
//Input estándar
input {
    border-radius: 5px;
    border: 2px solid lightgray;
    font-family: "Hind";
}

//Input seleccionado
//Tamaño del logo
.logo {
    width: 63px;
}

//Ocultar flecha en el logo de usuario
.dropdown-toggle::after {
    content: none;
}

//Posicionar el logout en la parte baja del offcanvas
.logout {
    margin-top: 15rem;
}

.separator {
    border-top: 2px solid lightgray;
}

input:focus {
    outline: none !important;
    border: 2px solid #0DDEB8!important;
    box-shadow: none!important;
}
body{
    font-family: Esteban;
}
h1{
    font-family: Raleway;
}
h2{
    font-family: Esteban;
}
p{
    font-family: "Hind";
}

//clase que se pone en las cajas de mis viajes y  mis post para hacer el borde gris con sombra
.cajaSombra{
    border:1px solid #D3CFCF;
    border-radius: 31px;
    box-shadow: 0px 4px 2px #D3CFCF;
}
.msg-error{color: red!important; text-transform: lowercase;}
.msg-error::first-letter{text-transform: capitalize;}
a, a:visited, a:hover{color:black;text-decoration: none;}
