@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Esteban&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap");
#botonfiltroamigos {
  display: flex;
  margin-bottom: 3%;
}
#botonfiltroamigos .divbtnfiltroamigos {
  width: 50%;
}
#botonfiltroamigos .divbtnfiltroamigos button {
  margin-right: 3%;
}
#botonfiltroamigos .searchDiv {
  width: 50%;
  text-align: right;
}
#botonfiltroamigos .searchDiv input {
  width: 50%;
  padding: 1%;
}

#peticionesamigos {
  margin-top: 5%;
  font-size: x-small;
  margin-bottom: 4%;
}
#peticionesamigos h2 {
  margin-bottom: 3%;
}
#peticionesamigos .friendDiv {
  display: flex;
  width: 75%;
  padding: 6px;
  margin-bottom: 1%;
}
#peticionesamigos .friendDiv img {
  border: 1px solid #D3CFCF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
#peticionesamigos .friendDiv .divimagenfriend {
  width: 15%;
  text-align: center;
}
#peticionesamigos .friendDiv .nameDiv {
  width: 15%;
  font-size: medium;
  padding-top: 15px;
  margin-left: 2%;
}
#peticionesamigos .friendDiv .divbotonrepuesta {
  padding-top: 15px;
}

#contactosamigos h2, #usuariosamigos h2 {
  margin-bottom: 10%;
}
#contactosamigos .divContacto, #usuariosamigos .divContacto {
  width: 100%;
  display: flex;
  margin-bottom: 2%;
}
#contactosamigos .divContacto .imgDiv, #usuariosamigos .divContacto .imgDiv {
  width: 15%;
  text-align: center;
}
#contactosamigos .divContacto .imgDiv img, #usuariosamigos .divContacto .imgDiv img {
  border: 1px solid #D3CFCF;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
#contactosamigos .divContacto .nameDiv, #usuariosamigos .divContacto .nameDiv {
  width: 50%;
  font-size: x-large;
  padding-top: 15px;
}
#contactosamigos .divContacto .divButton, #usuariosamigos .divContacto .divButton {
  width: 35%;
  padding-top: 15px;
  text-align: center;
}
#contactosamigos .divdown, #usuariosamigos .divdown {
  padding: 2%;
}

@media only screen and (max-width: 960px) {
  #botonfiltroamigos .divbtnfiltroamigos {
    display: flex;
  }
  #peticionesamigos .friendDiv {
    display: flex;
    width: 100%;
  }
  #peticionesamigos .friendDiv .divimagenfriend {
    width: 15%;
    text-align: center;
  }
  #peticionesamigos .friendDiv .divimagenfriend img {
    border: 1px solid #D3CFCF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  #peticionesamigos .friendDiv .nameDiv {
    width: 40%;
    font-size: x-large;
    padding-top: 5px;
  }
  #peticionesamigos .friendDiv .divbotonrepuesta {
    padding-top: 5px;
    display: flex;
  }
  #peticionesamigos .friendDiv .divbotonrepuesta button {
    font-size: x-small;
    margin-left: 2%;
  }
  #contactosamigos .divContacto .imgDiv, #usuariosamigos .divContacto .imgDiv {
    width: 15%;
    text-align: center;
  }
  #contactosamigos .divContacto .imgDiv img, #usuariosamigos .divContacto .imgDiv img {
    border: 1px solid #D3CFCF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  #contactosamigos .divContacto .nameDiv, #usuariosamigos .divContacto .nameDiv {
    width: 40%;
    font-size: x-large;
    padding-top: 5px;
  }
  #contactosamigos .divContacto .divButton, #usuariosamigos .divContacto .divButton {
    width: 35%;
    padding-top: 5px;
    text-align: center;
  }
}
.style-form-title {
  text-align: center;
  margin-top: 75px;
}

#formcrearactividades form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
}
#formcrearactividades form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  padding-bottom: 15px;
}
#formcrearactividades form div label {
  padding-bottom: 10px;
  width: 100%;
}
#formcrearactividades form div input {
  width: 100%;
}
#formcrearactividades form div textarea {
  width: 100%;
}
#formcrearactividades form .style-time {
  display: flex;
  width: 100%;
}
#formcrearactividades form .style-time div {
  display: flex;
  width: 50%;
}
#formcrearactividades form .style-buttons-create {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
#formcrearactividades form .style-buttons-create div {
  display: flex;
  justify-content: flex-end;
}
#formcrearactividades form .style-buttons-create div button {
  width: 100%;
  margin: 5px;
}
#formcrearactividades form .style-buttons-create div:nth-child(1) {
  width: 30%;
}
#formcrearactividades form .style-buttons-create div:nth-child(2) {
  width: 20%;
}

@media (max-width: 960px) {
  .style-form-title {
    margin-left: 10px;
    text-align: left;
  }
  #formcrearactividades form {
    padding: 10px;
  }
  #formcrearactividades form .style-buttons-create div:nth-child(1) {
    width: 55%;
  }
  #formcrearactividades form .style-buttons-create div:nth-child(2) {
    width: 45%;
  }
}
#formcrearviajes form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
#formcrearviajes form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  padding-bottom: 15px;
}
#formcrearviajes form div label {
  padding-bottom: 10px;
  width: 100%;
}
#formcrearviajes form div input {
  width: 100%;
}
#formcrearviajes form div textarea {
  width: 100%;
}
#formcrearviajes form .style-dates {
  display: flex;
  width: 100%;
}
#formcrearviajes form .style-dates div {
  display: flex;
  width: 50%;
}
#formcrearviajes form .style-budget {
  display: flex;
  width: 100%;
}
#formcrearviajes form .style-budget div {
  width: 100%;
}
#formcrearviajes form .style-budget input {
  width: 75%;
}
#formcrearviajes form .style-friends {
  display: flex;
  width: 100%;
}
#formcrearviajes form .style-friends div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#formcrearviajes form .style-friends div label {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}
#formcrearviajes form .style-friends .style-friends-invited {
  display: flex;
  width: 100%;
}
#formcrearviajes form .style-friends .style-friends-invited div {
  background-position: center;
  background-size: cover;
  background-image: url("https://freesvg.org/img/icon_user_whiteongrey.png");
  width: 20%;
  height: 50px;
  margin: 5px;
  box-shadow: 0px 0px 2.5px 2.5px #f2f2f2;
  border-radius: 100%;
}
#formcrearviajes form .style-friends .style-friends-invited div:hover {
  cursor: pointer;
}
#formcrearviajes form .style-friends .style-friends-searched {
  display: flex;
  width: 100%;
}
#formcrearviajes form .style-friends .style-friends-searched div {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 49%;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 1px;
}
#formcrearviajes form .style-friends .style-friends-searched div div {
  width: 50%;
}
#formcrearviajes form .style-friends .style-friends-searched div div img {
  width: 100%;
}
#formcrearviajes form .style-buttons-create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#formcrearviajes form .style-buttons-create div {
  width: auto;
}

@media (min-width: 960px) {
  #formcrearviajes form {
    padding: 50px;
  }
  #formcrearviajes form .style-location {
    display: flex;
    width: 100%;
  }
  #formcrearviajes form .style-location div {
    display: flex;
    width: 50%;
  }
  #formcrearviajes form .style-desc {
    display: flex;
    width: 100%;
  }
  #formcrearviajes form .style-desc div {
    width: 50%;
  }
  #formcrearviajes form .style-budget {
    display: flex;
    align-items: center;
    width: 100%;
  }
  #formcrearviajes form .style-budget div {
    width: 100%;
  }
  #formcrearviajes form .style-budget input {
    width: 75%;
  }
  #formcrearviajes form .style-friends .style-friends-invited {
    display: flex;
    width: 100%;
  }
  #formcrearviajes form .style-friends .style-friends-invited div {
    background-position: center;
    background-size: cover;
    background-image: url("https://freesvg.org/img/icon_user_whiteongrey.png");
    width: 5%;
    height: 50px;
    box-shadow: 0px 0px 2.5px 2.5px #f2f2f2;
    border-radius: 100%;
  }
  #formcrearviajes form .style-friends .style-friends-searched {
    display: flex;
    width: 100%;
  }
  #formcrearviajes form .style-friends .style-friends-searched div {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    width: 24.6%;
    background-color: #f2f2f2;
    cursor: pointer;
    margin: 1px;
  }
  #formcrearviajes form .style-friends .style-friends-searched div div img {
    width: 125px;
  }
  #formcrearviajes form .style-buttons-create {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  #formcrearviajes form .style-buttons-create div {
    width: auto;
  }
}
#participantes-viaje, #carruselitinerario > div > div, #carruselitinerario > div > div > ul {
  margin-top: 2%;
}

#carruselitinerario {
  padding: 2%;
}

#detallesactividades > button {
  margin: 3%;
  margin-top: 0%;
}

#carruselitinerario > div > div > ul > li > button {
  margin: 1%;
  padding: 5px;
  font-size: small;
}

#itinerarylist > div > h3 {
  margin-bottom: 2%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(100%);
}

@media only screen and (max-width: 960px) {
  #participantes-viaje, #carruselitinerario > div > div, #carruselitinerario > div > div > ul {
    margin-top: 5%;
  }
  #carruselitinerario {
    padding: 5%;
  }
  #detallesactividades > button {
    margin: 3%;
    margin-top: 5%;
    padding: 1%;
    font-size: small;
  }
  #carruselitinerario > div > div > ul > li > button {
    margin: 2%;
    margin-bottom: 5%;
    padding: 3px;
    font-size: small;
  }
  #itinerarylist > div > h3 {
    margin-bottom: 5%;
  }
  h4 {
    font-size: larger;
  }
}
#formeditaractividades form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
}
#formeditaractividades form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  padding-bottom: 15px;
}
#formeditaractividades form div label {
  padding-bottom: 10px;
  width: 100%;
}
#formeditaractividades form div input {
  width: 100%;
}
#formeditaractividades form div textarea {
  width: 100%;
}
#formeditaractividades form .style-time {
  display: flex;
  width: 100%;
}
#formeditaractividades form .style-time div {
  display: flex;
  width: 50%;
}
#formeditaractividades form .style-buttons-create {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
#formeditaractividades form .style-buttons-create div {
  display: flex;
  justify-content: flex-end;
}
#formeditaractividades form .style-buttons-create div button {
  width: 100%;
  margin: 5px;
}
#formeditaractividades form .style-buttons-create div:nth-child(1) {
  width: 30%;
}
#formeditaractividades form .style-buttons-create div:nth-child(2) {
  width: 20%;
}

@media (max-width: 960px) {
  #formeditaractividades form {
    padding: 10px;
  }
  #formeditaractividades form .style-buttons-create div:nth-child(1) {
    width: 55%;
  }
  #formeditaractividades form .style-buttons-create div:nth-child(2) {
    width: 45%;
  }
}
#formeditarviajes form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
#formeditarviajes form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  padding-bottom: 15px;
}
#formeditarviajes form div label {
  padding-bottom: 10px;
  width: 100%;
}
#formeditarviajes form div input {
  width: 100%;
}
#formeditarviajes form div textarea {
  width: 100%;
}
#formeditarviajes form .style-dates {
  display: flex;
  width: 100%;
}
#formeditarviajes form .style-dates div {
  display: flex;
  width: 50%;
}
#formeditarviajes form .style-budget {
  display: flex;
  width: 100%;
}
#formeditarviajes form .style-budget div {
  width: 100%;
}
#formeditarviajes form .style-budget input {
  width: 75%;
}
#formeditarviajes form .style-friends {
  display: flex;
  width: 100%;
}
#formeditarviajes form .style-friends div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#formeditarviajes form .style-friends div label {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}
#formeditarviajes form .style-friends .style-friends-invited {
  display: flex;
  width: 100%;
}
#formeditarviajes form .style-friends .style-friends-invited div {
  background-position: center;
  background-size: cover;
  background-image: url("https://freesvg.org/img/icon_user_whiteongrey.png");
  width: 20%;
  height: 50px;
  margin: 5px;
  box-shadow: 0px 0px 2.5px 2.5px #f2f2f2;
  border-radius: 100%;
}
#formeditarviajes form .style-friends .style-friends-invited div:hover {
  cursor: pointer;
}
#formeditarviajes form .style-friends .style-friends-searched {
  display: flex;
  width: 100%;
}
#formeditarviajes form .style-friends .style-friends-searched div {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 49%;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 1px;
}
#formeditarviajes form .style-friends .style-friends-searched div div {
  width: 50%;
}
#formeditarviajes form .style-friends .style-friends-searched div div img {
  width: 100%;
}
#formeditarviajes form .style-buttons-create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#formeditarviajes form .style-buttons-create div {
  width: auto;
}

@media (min-width: 960px) {
  #formeditarviajes form {
    padding: 50px;
  }
  #formeditarviajes form .style-location {
    display: flex;
    width: 100%;
  }
  #formeditarviajes form .style-location div {
    display: flex;
    width: 50%;
  }
  #formeditarviajes form .style-desc {
    display: flex;
    width: 100%;
  }
  #formeditarviajes form .style-desc div {
    width: 50%;
  }
  #formeditarviajes form .style-budget {
    display: flex;
    align-items: center;
    width: 100%;
  }
  #formeditarviajes form .style-budget div {
    width: 100%;
  }
  #formeditarviajes form .style-budget input {
    width: 75%;
  }
  #formeditarviajes form .style-friends .style-friends-invited {
    display: flex;
    width: 100%;
  }
  #formeditarviajes form .style-friends .style-friends-invited div {
    background-position: center;
    background-size: cover;
    background-image: url("https://freesvg.org/img/icon_user_whiteongrey.png");
    width: 5%;
    height: 50px;
    box-shadow: 0px 0px 2.5px 2.5px #f2f2f2;
    border-radius: 100%;
  }
  #formeditarviajes form .style-friends .style-friends-searched {
    display: flex;
    width: 100%;
  }
  #formeditarviajes form .style-friends .style-friends-searched div {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    width: 24.6%;
    background-color: #f2f2f2;
    cursor: pointer;
    margin: 1px;
  }
  #formeditarviajes form .style-friends .style-friends-searched div div img {
    width: 125px;
  }
  #formeditarviajes form .style-buttons-create {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  #formeditarviajes form .style-buttons-create div {
    width: auto;
  }
}
#misviajeshome {
  padding: 20px;
  margin-top: 10%;
  margin-right: 35px;
}
#misviajeshome h1 {
  margin-bottom: 30px;
}
#misviajeshome .tarjetaviajehome {
  border-bottom: 2px solid #D3CFCF;
  margin-bottom: 15px;
}
#misviajeshome .divFoot {
  text-align: right;
}
#misviajeshome div img {
  width: 30%;
  height: 100px;
  object-fit: cover;
}
#misviajeshome div div {
  display: flex;
}
#misviajeshome div .divInfo {
  display: block;
  padding-left: 10px;
}
#misviajeshome div .divInfo h3 {
  margin-left: 10px;
}
#misviajeshome div .divInfo span {
  margin-left: 10px;
}
#misviajeshome div .divInfo .divUserDays {
  margin-top: 25px;
}
#misviajeshome div .divInfo .divUserDays svg {
  margin-top: 3px;
  margin-left: 3px;
  vertical-align: top;
}

#todosviajeshome {
  display: block;
  margin-top: 3%;
}
#todosviajeshome .imageuser {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 10px;
}
#todosviajeshome .imgViaje {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 0px 50%;
}
#todosviajeshome .tarjetaviaje {
  margin-bottom: 4%;
}
#todosviajeshome .infoViaje {
  position: relative;
  width: 50%;
  margin-top: -150px;
}
#todosviajeshome .infoViaje .cajablancauno {
  width: 50%;
  margin: 10px;
  border-radius: 10px 10px;
  padding: 2px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.671);
}
#todosviajeshome .infoViaje .cajablancauno h3 {
  margin-left: 10px;
}
#todosviajeshome .infoViaje .cajablancauno div {
  display: flex;
}
#todosviajeshome .infoViaje .cajablancados {
  width: 50%;
  margin: 10px;
  border-radius: 10px 10px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.671);
}
#todosviajeshome .infoViaje .cajablancados span {
  margin-left: 10px;
}
#todosviajeshome .infoViaje .cajablancados svg {
  margin-top: 3px;
  margin-left: 3px;
  vertical-align: top;
}

@media only screen and (max-width: 960px) {
  #todosviajeshome {
    display: block;
    margin-top: 3%;
  }
  #todosviajeshome .tarjetaviaje {
    margin-bottom: 8%;
  }
  #todosviajeshome .infoViaje {
    width: 80%;
  }
  #todosviajeshome .infoViaje .cajablancauno {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.671);
  }
  #todosviajeshome .infoViaje .cajablancados {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.671);
  }
}
#imagen-publi {
  border-right: 2px solid rgb(165, 165, 165);
}

#imagen-publi > img {
  height: 400px;
  width: 300px;
}

#login-img {
  height: 100px;
}

#form-login > div > div {
  padding: 2%;
}

#form-login > div > div > form > label, #form-login > div > div > form > div > label {
  padding: 1%;
}

.boton-principal {
  margin-top: 1%;
}

#form-login > div > div > form > label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

@media only screen and (max-width: 960px) {
  #form-login > div > div {
    padding: 5%;
  }
  #form-login > div > div > form > label, #form-login > div > div > form > div > label {
    padding: 3%;
  }
  .boton-principal {
    margin-top: 3%;
  }
}
.titulos {
  margin-top: 4%;
  margin-bottom: 3%;
}

.misviajes {
  display: flex;
}
.misviajes a {
  width: 25%;
  margin-right: 3%;
}
.misviajes .cajatarjeta {
  width: 100%;
}
.misviajes img {
  width: 100%;
  height: auto;
  border-radius: 31px 31px 0px 0px;
}
.misviajes .divnombre {
  margin: 20px;
  text-align: center;
  margin-top: -60px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.737);
  padding: 2px;
  border-radius: 10px 10px;
}
.misviajes .divdatos {
  display: flex;
}
.misviajes .divdatos div {
  width: 50%;
  text-align: center;
  margin-top: 10px;
}
.misviajes .divdatos div svg {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  vertical-align: top;
}
.misviajes .style-button-create {
  text-align: center;
  padding: 2%;
}
.misviajes .style-button-create button {
  margin-right: 10px;
}

#viajescompartidosmisviajes {
  margin-bottom: 5%;
}

@media only screen and (max-width: 425px) {
  .misviajes {
    display: block;
  }
  .misviajes .cajatarjeta {
    margin-right: 3%;
    width: 100%;
    margin-bottom: 10%;
  }
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.vertical-line {
  width: 10px;
  height: 300px;
  border-left: 3px solid #6A6A6A;
}

#form-registro > div > div {
  padding: 2%;
}

#form-registro > div > div > form > label, #form-registro > div > div > form > div > label {
  padding: 1%;
}

.boton-principal {
  margin-top: 1%;
}

#form-registro-datos > label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

@media only screen and (max-width: 960px) {
  #form-registro > div > div {
    padding: 5%;
  }
  #form-registro > div > div > form > label, #form-registro > div > div > form > div > label {
    padding: 3%;
  }
  .boton-principal {
    margin-top: 3%;
  }
}
input[type=submit],
input[type=button],
button {
  padding: 10px;
  text-transform: uppercase;
  color: #152E3D;
  font-family: "Hind";
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
}

.boton:hover {
  box-shadow: 0px 0px 5px 2px lightgray;
}

.boton-principal {
  background-color: #0DDEB8;
  border-color: #76D6C4;
}

.boton-principal:hover,
.boton-principal:active {
  background-color: #76D6C4;
  border-color: #76D6C4;
}

.boton-secundario {
  background-color: #70C8FF;
  border-color: #A3D4FF;
}

.boton-secundario:hover,
.boton-secundario:active {
  background-color: #A3D4FF;
  border-color: #A3D4FF;
}

.boton-cancelar {
  background-color: #F2F2F2;
  border-color: #E3E3E3;
}

.boton-cancelar:hover,
.boton-cancelar:active {
  background-color: #E3E3E3;
  border-color: #E3E3E3;
}

input {
  border-radius: 5px;
  border: 2px solid lightgray;
  font-family: "Hind";
}

.logo {
  width: 63px;
}

.dropdown-toggle::after {
  content: none;
}

.logout {
  margin-top: 15rem;
}

.separator {
  border-top: 2px solid lightgray;
}

input:focus {
  outline: none !important;
  border: 2px solid #0DDEB8 !important;
  box-shadow: none !important;
}

body {
  font-family: Esteban;
}

h1 {
  font-family: Raleway;
}

h2 {
  font-family: Esteban;
}

p {
  font-family: "Hind";
}

.cajaSombra {
  border: 1px solid #D3CFCF;
  border-radius: 31px;
  box-shadow: 0px 4px 2px #D3CFCF;
}

.msg-error {
  color: red !important;
  text-transform: lowercase;
}

.msg-error::first-letter {
  text-transform: capitalize;
}

a, a:visited, a:hover {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */