#misviajeshome{
    border:1px solid black;
   
    div{
        border:1px solid black;
        margin: 10px;
        img{
            border:1px solid black;
            width:10px;
        }
       
    }
} 
