// css para la vista mis viajes
.titulos{
    margin-top:4%;
    margin-bottom:3%;
}

.misviajes{
    display: flex;
    a{width: 25%; margin-right:3%;}
    .cajatarjeta{
        width: 100%;
    }
    img{
        width: 100%;
        height:auto;
        border-radius: 31px 31px 0px 0px;
    }
    .divnombre{
        margin:20px;
        text-align: center;
        margin-top: -60px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.737);
        padding: 2px;
        border-radius: 10px 10px;
    }
    .divdatos{
        display: flex;
        div{
            width: 50%;
            text-align: center;
            margin-top: 10px;
            svg{
                margin-left:3px;
                margin-right:3px;
                margin-top: 2px;
                vertical-align:top;
            }
        }
    }
    .style-button-create {
        text-align: center;
        padding: 2%;
        button{margin-right: 10px;}
    }
}



#viajescompartidosmisviajes{
    margin-bottom: 5%;
}

@media only screen and (max-width: 425px) {
    .misviajes{
        display: block;
        .cajatarjeta{
            margin-right:3%;
            width: 100%;
            margin-bottom: 10%;
        } 
    }
    
}