.misviajes{
    display: flex;
    
    .cajatarjeta{
        margin-right:3%;
        width: 25%;
    }
    img{
        width: 100%;
        height:auto;
        border-radius: 31px 31px 0px 0px;
    }
}
