//Personalización del formulario de registro
#form-registro > div > div {padding: 2%;}
#form-registro > div > div > form > label, #form-registro > div > div > form > div > label {padding: 1%;}
.boton-principal {margin-top: 1%;}
#form-registro-datos > label
{
    display: inline-block;
        width: 200px;
    text-align: left;
}

//Paddings en versión móvil
@media only screen and (max-width: 960px) 
{
    #form-registro > div > div {padding: 5%;}
    #form-registro > div > div > form > label, #form-registro > div > div > form > div > label {padding: 3%;}
    .boton-principal {margin-top: 3%;}
}
